*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  vertical-align: middle;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: rgb(82, 82, 82);
}

p {
  font-family: "Karla", sans-serif;
  color: rgb(82, 82, 82);
}
